<nav class="p-10 bg-lime-50">
	<ul class="flex gap-8">
		<li class=" bg-lime-300 py-4 px-7 "><a href="/">Shop</a></li>
		<li class="bg-lime-300 py-4 px-7"><a class="flex" href="cart">Shoping cart <span id="counerOrderedProduct" class=" justify-center flex  text-lime-600 bg-lime-50 w-5 h-5 items-center  rounded-full ml-1 mt-2 hidden"></span></a></li>
		<li class="bg-lime-300 py-4 px-7"><a href="deliveryPayments">Delivery payments</a></li>
	</ul>
</nav>