<body>
	<div class="cartContainer bg-lime-100">
		<form action="http://localhost:3000/" method="post" class=" p-10">

			<div class="container-form-list-products flex p-10 gap-6">
				<div class="userContacts w-1/2 flex flex-col justify-center">
					<label for="nameUser">name</label>
					<input class=" border-2" type="text" name="nameUser" required>
					<label for="email">email</label>
					<input type="mail" name="email"  required>
					<label for="phone">phone</label>
					<input type="number" name="numberPhone"  required>
					<label for="adress">adress</label>
					<input type="text" name="adress"required>
				</div>
				<div class="list-of-products w-1/2 overflow-y-scroll">
					<h1>List of products</h1>
					<div class="restaurnat-container">

					</div>
					<div class="list-of-buyed-food">

					</div>
				</div>
			</div>
			<div class="totalPrice flex  justify-end gap-24 pr-28">
				<span class="total-price price">price: </span>
				<button type="submit">submit</button>
			</div>
		</form>
	</div>
	<script type="module" src="cart.js"></script>
</body>