<body>
	<div class="w-full flex bg-lime-50 gap-14 h-screen">
		<div class="shopList w-1/3  ">
			<ul class="listRestaurant  flex-col items-center overflow-y-auto overflow-x-hidden  ">
				<h3 class="">Restaurant:</h3>
			</ul>
		</div>
		<div class="cardContainer"></div>
	</div>
	<script type="module"  src="index.js"></script>
</body>
